<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Testing</title>
</head>


<body class="text-center">
	<div class="container" style="padding: 250px 250px">
			<form method="post" id="parentForm" class="form-signin">
				<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
				<div class="form-group">
					<label >Please input your email</label>
					<input type="email" name="email_address" class="form-control">
					<span class="error" style="color: red">{{error_email}}</span>
				</div>
				<div id="append">
				<label>Please select your currency</label>
				<br>
				<div id="currency_1" class="form-row">
					<div class="form-group col-md-5 col-sm-5" id='base_currency'>
						<select name="currency_1_1" id="currency_1_1" class="form-control">
							<option>SGD</option>
							<option>CNY</option>
							<option>USD</option>
							<option>EUR</option>
						</select> 
					</div>
					<div class="form-group col-md-5 col-sm-5" id="alternate_currency">
						<select name="currency_1_2" id="currency_1_2" class="form-control col-md-6 col-sm-6">
							<option>USD</option>
							<option>CNY</option>
							<option>SGD</option>
							<option>EUR</option>
						</select> 
					</div>
					<div class="form-group col-sm-2 col-md-2" id="button">
						<input type="button" id="add_button" value="Add Currency" class="btn btn-warning">
					</div>
					<div class="form-group" id="error">
						<span class="error" style="display:none" id="error_currency_1">Please select correct currency pairs</span>
					</div>
				</div>
				</div>
				<div class="form-group">
				<input type="submit" id = "submit" value="submit" class="btn btn-primary">
				</div>
			</form>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	console.log("JQ working")
	var index = 1;
	var index_1 = 2;
	var currency_pair = [];

	// Create a remove button
	var remove_1 = $('<input type="button" value="remove" id="remove_button">');

	$("#add_button").click(function(){
		console.log(index);
		var remove = $('<input />', {type:'button', value:'Remove',  id:'remove_'+index_1, class:'btn btn-warning' });
		$("#append").append($("#currency_1").clone().attr({"name":"currency_"+index_1, "id":"currency_"+index_1}))
		//$("#currency_"+index).after($("#currency_"+index).clone().attr({"name":"currency_"+index_1, "id":"currency_"+index_1}));
		$("#currency_"+index_1).children('#button').children('#add_button').replaceWith(remove)
		$('#currency_'+index_1).children('#error').children('#error_currency_1').attr("id","error_currency_"+index_1);
		$("#error_currency_"+index_1).css("display","none")
		$("#currency_"+index_1).css("display","inline");
		$("#currency_"+index_1).children('#base_currency').children('#currency_'+index+'_1').attr({"name":"currency_"+index_1+"_1","id":"currency_"+index_1+"_1"});

		$("#currency_"+index_1).children('#alternate_currency').children('#currency_'+index+'_2').attr({"name":"currency_"+index_1+"_2","id":"currency_"+index_1+"_2"});
		$("#currency_"+index_1).children('#remove_'+index).attr({"name":"remove_"+index_1,"id":"remove_"+index_1});


		index = index + 1;
		index_1 = index + 1;

	


	    $("#remove_"+index).click(function(){
	        //Remove the whole cloned div
	        console.log("remove working")
	        $(this).closest("div").parent().remove();
	    });
	});

	$("form").change(function() {
		// iterate over existing currency pair for validation
		for (i = 1; i < index+1; i++) {

			if ($('#currency_'+i+'_1').val() != $('#currency_'+i+'_2').val()) {
				$('#error_currency_'+i).css("display","none")
			}
			else {
				$('#error_currency_'+i).css({"display":"block", "color":"red"});
			}
		}
	});

	$('#submit').click(function(){
		var index_num = index - 1;
		$('#parentForm').append('<input type="hidden" id = "index_num" />')
		$('#index_num').val(index_num)


		// clear all the error message is there is any
		$("span").css("display", "none")

		// Get all values in the existing field 
		var all_currency = $("select").map(function(){
			return $(this).val();
		}).get();

		var all_currency_list = all_currency.toString();
		$('#parentForm').append('<input type="hidden" id = "all_currency_list" name = "all_currency_list">')
		$('#all_currency_list').val(all_currency_list);
		$('#parentForm').append('<input type="hidden" id = "all_currency_list_length">').attr("value", all_currency.length);

		console.log(all_currency_list)
		console.log($('#index_num').val())
		console.log($('#all_currency_list').val())

		//console.log($("#index_num").val());
	});
});
</script>

<!-- <script type="text/javascript">
	// find original form
	var next = 2;
	function Add_Currency() {
		console.log("Add currency")
		var f = document.getElementById("parentForm");

		// create input element
		var new_currency = document.getElementById("currency_selection_1");
		new_currency.name = "currency_"+next;
		console.log(new_currency.name)
		next = next +1;
		f.appendChild(new_currency);
	}
</script> -->

</html>