<!DOCTYPE html>
<html>
<head>
	<title>Thank you for submitting</title>
	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
	  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
</style>
<div class="container bg-2 text-center" style="height: 100% width: 100%">
	<h3 class="margin">Thanks for submitting your interst</h3>
	<p>We will be sending your selection:</p>
  <i>{{ currency }}</i>
  <br>
  to your email address: 
  <br>
  <i>{{ email }}</i>
</div>
<body>

</body>

</html>